<div class="container bg-light mt-4" id="colorComponent">
    <p-card>
        <ng-template pTemplate="header">
            Theme colors
        </ng-template>
        <div class="d-flex justify-content-between mb-5 ">
            <div>
                <div class="cards mb-3 bg-primary"></div>
                <h6>Brand Primary Color</h6>
                <p>HEX: #321fdb</p>
                <p>RGB: rgb(50, 31, 219)</p>
            </div>
            <div>
                <div class="mb-3 bg-secondary">
                </div>
                <h6>Brand Second Color</h6>
                <p>HEX: #9da5b1</p>
                <p>RGB:rgb(157, 165, 17)</p>
            </div>
            <div>
                <div class="mb-3 bg-success">
                </div>
                <h6>Brand Primary Color</h6>
                <p>HEX: #321fdb</p>
                <p>RGB: rgb(50, 31, 219)</p>
            </div>
            <div>
                <div class="mb-3 bg-danger"></div>
                <h6>Brand Primary Color</h6>
                <p>HEX: #321fdb</p>
                <p>RGB: rgb(50, 31, 219)</p>
            </div>
            <div>
                <div class="mb-3 bg-warning">
                </div>
                <h6>Brand Primary Color</h6>
                <p>HEX:#9da5b1</p>
                <p>RGB: rgb(50, 31, 219)</p>
            </div>
        </div>
        <div class="d-flex">
            <div>
                <div class="mb-3 bg-info"></div>
                <h6>Brand Primary Color</h6>
                <p>HEX:#2eb85c</p>
                <p>RGB: rgb(46, 184, 92)</p>
            </div>
            <div>
                <div class="mb-3 bg-light"></div>
                <h6>Brand Primary Color</h6>
                <p>HEX:#e55353</p>
                <p>RGB:rgb(229, 83, 83)</p>
            </div>
            <div>
                <div class="mb-3  bg-dark"></div>
                <h6>Brand Primary Color</h6>
                <p>HEX: #321fdb</p>
                <p>RGB: rgb(50, 31, 219)</p>
            </div>
        </div>
    </p-card>
    <div class="footer bg-light  mt-4 d-flex">
        <p><a>CoreUI</a>© 2022 creativeLabs</p>
        <p class="ms-auto">Powered by <a>CoreUI v4 for Angular</a></p>
    </div>
</div>